[submodule "Assets/PKVR/Scripts/ECS/System/6ad9baa35eb7c4429fb4f9fb9aa90d7f"]
	path = Assets/PKVR/Scripts/ECS/System/6ad9baa35eb7c4429fb4f9fb9aa90d7f
	url = https://gist.github.com/6ad9baa35eb7c4429fb4f9fb9aa90d7f.git
